<!DOCTYPE html>
<html>
  <head>
    <title>VotingApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag "application" %>
    <%= javascript_pack_tag "application" %>
  </head>

    <header class="header">
      <%= render "shared/navbar" %>
    </header>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
